.white-div {
    background-color: white;
    padding: 10px;
         border: 1px solid gray;
         
       
        }
    .div-letra{
        
        color: black !important;
        background-color:white;
        border: 1px solid gray;

    }
   .img-large {
       width: 1600%;
       max-width: 1000px;
       height: auto;
       
   }
   .color-div{
    background-color: white;
    color: black ;
   
   }
   .img-dv{
    border: gray solid;
    
   }
         body {
             background-color: white;
           
         }

.navbar-dos {
    background-color: transparent;
    border: none;
}

.navbar-dos .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-dos .nav-item {
    margin: 0 10px;
}

.navbar-dos .nav-link {
    border-radius: 50%;
    background-color: #ccc;
    color: #333;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-dos .nav-link:hover {
    background-color: #333;
    color: white;
}


#agregarFormulario {
    position: fixed;
    top: 300px;
    right: 10px;
}

#formulario {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#agregarFormulario,
#formulario .btn {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 0;
    border: 1px solid #f3f1f1;
}
.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    position: relative;
    cursor: pointer;
    height: 100px;
    border-radius: 100px;
    border: none;
    background: #333;
    color: #e5e5e5;
    font-weight: 600;
    box-shadow: inset 20px 20px 39px #080a10, inset -20px -20px 39px #1b263e;
    font-size: 13px;
}

.custom-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: -10px;
    top: -10px;
    border-radius: 50%;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background: linear-gradient(35deg, rgb(47, 190, 238), rgb(218, 57, 143), rgb(139, 255, 23));
    filter: blur(10px);
}

.custom-button:hover::after {
    animation: rotcirclegr 1s linear infinite;
}

@keyframes rotcirclegr {
    to {
        transform: rotate(360deg);
    }
}
.editarVideo,.editarVideo2,.editarlink {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;

    width: 400px;
    /* Ancho */
    height: 400px;
    /* Alto (mismo valor que el ancho para hacerlo cuadrado) */
    padding: 40px;
    margin: 20px auto;
    transform: translate(-50%, -55%);
    background: rgba(0, 0, 0, .9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 40px;
    
}
#formulario-ocultos{
    position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        padding: 20px;
        border: 2px solid white;
        ;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        z-index: 1000;
    
    
        width: 750px;
        padding: 40px;
        margin: 20px auto;
        transform: translate(-50%, -55%);
        background: white
            /* rgba(0, 0, 0, .9)*/
        ;
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
        border-radius: 10px;

}
.formulario-flotante {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    padding: 20px;
    border: 2px solid white;;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
  
       
        width: 750px;
        padding: 40px;
        margin: 20px auto;
        transform: translate(-50%, -55%);
        background: white/* rgba(0, 0, 0, .9)*/;
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
        border-radius: 10px;
}

#guardarCambios {
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #14dd50;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #e1e5e2;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

#guardarCambios:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #14dd50;
    z-index: -1;
}

#guardarCambios:hover,
#guardarCambios:focus {
    color: white;
}

#guardarCambios:hover:before,
#guardarCambios:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

#guardarCambios:active {
    transform: scale(0.9);
}
#tituloEditable::placeholder {
    color:white;
}
#guardar,#guardarlink {
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
}

#guardar,#guardarlink span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}

#guardar, #guardarlink:hover {
    background-color: #0071e2;
}
#nuevoEnlaceVideo{
    position: relative;
    width: 350px; 
    height: 100px;
    background-color: #1b263e;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
        transition: 300ms ease-in-out;
       
}
.box {
    width: 45px;
    height: 45px;
    background: #24b4fb;
    border-radius: 25px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    float: right;
    color: white;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
}

.box:hover {
    width: 160px;
    background: linear-gradient(to right, #10b6e4, rgb(236, 8, 103));
    color: wheat;;
}

.box:hover .arrow {
    display: none;
}

.box .text {
    display: none;
}

.box:hover .text {
    display: flex;
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 0.6px;
    animation: anima 0.6s ease;
}

@keyframes anima {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.box:active {
    background: linear-gradient(to right, rgba(18, 144, 186, 0.8), rgba(214, 18, 93, 0.8));
}
.rainbow-hover {
    font-size: 16px;
    font-weight: 700;
    color: #ff7576;
    background-color: #fbfcfe;
    border: 2px solid  rgb(242, 239, 239);;
    outline: none;
    cursor: pointer;
    padding: 12px 24px;
    position: relative;
    line-height: 24px;
    border-radius: 9px;
    box-shadow: 0px 1px 2px #f1f1f3,
        0px 4px 16px #2B3044;
    transform-style: preserve-3d;
    transform: scale(var(--s, 1)) perspective(600px) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
    perspective: 600px;
    transition: transform 0.1s;
}

.sp {
    background: linear-gradient(90deg,
            #866ee7,
            #ea60da,
            #ed8f57,
            #fbd41d,
            #2cca91);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
    display: block;
}

.rainbow-hover:active {
    transition: 0.3s;
    transform: scale(0.93);
}
.video-container {
    display: block;
 
}

.pl {
    width: 6em;
    height: 6em;
}

.pl__ring {
    animation: ringA 2s linear infinite;
}

.pl__ring--a {
    stroke: #f42f25;
}

.pl__ring--b {
    animation-name: ringB;
    stroke: #f49725;
}

.pl__ring--c {
    animation-name: ringC;
    stroke: #255ff4;
}

.pl__ring--d {
    animation-name: ringD;
    stroke: #f42582;
}

/* Animations */
@keyframes ringA {

    from,
    4% {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -330;
    }

    12% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -335;
    }

    32% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -595;
    }

    40%,
    54% {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -660;
    }

    62% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -665;
    }

    82% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -925;
    }

    90%,
    to {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -990;
    }
}

@keyframes ringB {

    from,
    12% {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -110;
    }

    20% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -115;
    }

    40% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -195;
    }

    48%,
    62% {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    70% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    90% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -305;
    }

    98%,
    to {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -330;
    }
}

@keyframes ringC {
    from {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: 0;
    }

    8% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -5;
    }

    28% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -175;
    }

    36%,
    58% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    66% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    86% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -395;
    }

    94%,
    to {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -440;
    }
}

@keyframes ringD {

    from,
    8% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: 0;
    }

    16% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -5;
    }

    36% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -175;
    }

    44%,
    50% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    58% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    78% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -395;
    }

    86%,
    to {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -440;
    }
}
.pre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    /* Fondo semitransparente */
}

.ocul{
    overflow: hidden;
}
.custom-navbar{
 background-color: white !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   height: 70px;
      
}
body{
 background-color: white !important;

}